[Service]
ExecCondition=bash -c 'awk -vhost="$(hostname -s)" "BEGIN {rc = -1} \$1 == host {rc=0} END {exit rc}" /etc/nodelist'
ExecStartPre=/usr/local/bin/slurmd.startup.sh
