[Service]
ExecCondition=bash -c 'exec test $(hostname -s) = "mgmtnode" -o $(hostname -s) = "mgmtnode2"'
ExecStartPre=chown -R slurm:slurm /auth /etc/slurm/
ExecStartPre=chmod -R 0770 /auth
ExecStartPre=/usr/local/bin/slurmctld.startup.sh
ExecStartPost=/usr/local/bin/slurmctld.startup2.sh
PermissionsStartOnly=true
User=slurm
Group=slurm
TimeoutSec=1800
